.wrapper {
  width: 100%;
  display:flex;
  flex-direction: column;
  padding:2em;
  justify-content: center;
  align-content: center;
  align-items: center;

}
.contactText{
  font-weight: 700;
  font-size: 3em;
  margin-bottom: 0;
  padding-bottom: 0;
}
.furtherAddressText{
  font-weight: bolder;
  font-size:1.5em;
  margin-bottom: 0;
  padding-bottom: 0;
}
.furtherAddressDetails{
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p{
    font-size: 1em;
  }
}