@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

.wrapper{
    // background-color: rgb(17, 17, 17);
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #000000,#000000,#000000,#000000,#000000,#2a2a2a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #000000,#000000,#000000,#000000,#000000, #000000,#000000,#2a2a2a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    height:100vh;
    padding: 0 4em;
    color: whitesmoke;
    font-family:'Poppins', sans-serif;
    font-weight: 600;
    overflow: hidden;
    flex-direction: column;
    display: flex;
}
body{
    margin:0;

}
.centralContainer{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 10fr;
    box-sizing: border-box;
    overflow-y:auto;

}

.linksContainer{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;


}
.linksContainer ul{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    text-decoration: none;
    list-style-type: none;
    gap: 1.5em;
}
.contentContainer{
    height: 100%;
    box-sizing: border-box;
    overflow-y:auto;
}

.contentContainer::-webkit-scrollbar {
width: 1.5em;
}

.contentContainer::-webkit-scrollbar-track {

    width: 0.1em;
    	border-radius: 10px;


}

.contentContainer::-webkit-scrollbar-thumb {
background-image: url("../../images/Group 2 (1).png"),
    linear-gradient(100deg, transparent, transparent);
background-position: center bottom, center -40px;
background-repeat: no-repeat, no-repeat;
background-size: contain, contain;
}